<footer>
  <div class="content" id="Contacto">
    
    <div class="contact-wrapper animated bounceInUp">
        <div class="contact-form">
            <h1 class="logo">Contacto para consultas y presupuestos</h1>
            <form action="">
                <p>
                    <label>Nombre </label>
                    <input type="text" name="fullname">
                </p>
                <p>
                    <label>Email </label>
                    <input type="email" name="email">
                </p>
                <p class="block">
                   <label>Mensaje </label> 
                    <textarea name="message" rows="3"></textarea>
                </p>
                <p class="block">
                    <button>
                        Enviar
                    </button>
                </p>
            </form>
        </div>
        <div class="contact-info">
            <h1>Más información de contacto</h1>
            <ul>
                <li><i class="fas fa-map-marker-alt"></i> Uruguay, Canelones</li>
                <li><i class="fab fa-whatsapp-square"></i> 099 768 157</li>
                <li>
                  <i class="fab fa-facebook-square"></i><a href="https://www.facebook.com/Carpintería-Mauricio-Álvarez-114351967095302/"
                    target="_blank"
                    alt="enlace a facebook"> Facebook</a></li>
            </ul>
        </div>
    </div>
    <p class="copy">Copyright &copy; {{year}} | Carpinteria Mauricio | Todos los derechos reservados</p>

</div>


</footer>