<footer>
  <div class="content" id="Contacto">
    
            <div class="contact-info">
                    <h1>Información de contacto</h1>
                    <div class="columns">
                        <div>
                            <ul>
                                <li><i class="fab fa-facebook-square"></i><a href="https://www.facebook.com/Carpintería-Mauricio-Álvarez-114351967095302/"
                                target="_blank"
                                alt="enlace a facebook">Carpinteria Mauricio</a></li>
                                
                                <li><i class="fab fa-whatsapp-square"></i>099 768 157</li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                            <li><i class="far fa-envelope"></i>alvarez.mauricio.carpinteria@gmail.com</li>
                            <li><i class="fas fa-map-marker-alt"></i>Uruguay, Canelones</li>
                            
                            </ul>
                        </div>  
                    </div>
                       
            </div>
    </div>
    <p class="copy">Copyright &copy; {{year}} | Carpinteria Mauricio | Todos los derechos reservados</p>

</footer>