

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5" id="first">
          <img
            class="img-fluid"
            src="../../../assets/img/contenido/cocina/prin.jpeg"
            alt="Muebles de cocina completa" 
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-4">
          <h2 class="display-4">
            Muebles para todas las habitaciones del hogar
          </h2>
          <p>
            Equipamientos completos a medida o muebles individuales según la
            necesidad del cliente.
          </p>
          <h4>Cocinas - Baños - Dormitorios - Comedores - Livings | Placares - Escritorios - Bibliotecas - Alacenas - Persianas</h4>
          <app-modal-pictures></app-modal-pictures>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid"
            src="../../../assets/img/contenido/material/WhatsApp Image 2021-04-06 at 14.12.30.jpeg"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-4">
          <h2 class="display-4">Materiales con los que trabajamos</h2>
          <p>
            Trabajo a medida en MDF melamínico. ¿Que es mdf? Es un tablero
            desarrollado con una o dos caras revestidas con un laminado
            melamínico en una amplia gama de colores, permite mezclar la
            terminación de la melamina con un moldurado o tallado adicional.
          </p>
          <app-modal-materials></app-modal-materials>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img
            class="img-fluid"
            src="../../../assets/img/contenido/diseño/kelly-sikkema-1SBcc-Wpz40-unsplash.jpg"
            alt="Diseño"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-4">
          <h2 class="display-4">Diseño según el espacio</h2>
          <p>
            Si no estas seguro del diseño te ayudamos a que sea lo que
            imaginaste. Conociendo el espacio y la habitación que necesitas
            renovar te brindandomos bocetos para que cumpla con tus expectativas
            y requisitos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img
            class="img-fluid"
            src="../../../assets/img/contenido/montessori/prin.jpeg"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-4">
          <h2 class="display-4">Muebles Montessori</h2>
          <p>
            Muebles destinados a habitaciones de niños que fomentan su
            bienestar, desarrollo y autonomía. Estos diseños crean un espacio
            feliz para el niño, colocados según su altura para que puedan
            acceder por sí mismos a todos los elementos de la habitación.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="informacion">
    <h3>Sobre nosotros</h3>
        <p class="info">
          Carpintería Mauricio Alvarez es una carpintería en la cual realizamos
          muebles a medida en melamina, un material de excelente calidad y
          terminación que ha ganado mucho territorio en el mercado, pasando a
          ser el número uno. No sólo es un material resistente, sino que también tiene una excelente terminación, variedad de colores,
          texturas imitación madera, diversos herrajes, sin necesidad de mantenimiento y
          rapidez ¡Simplemente usted lo imagina y nosotros lo hacemos
          realidad!
        </p>   
  </div>
</section>