.btn{
    position: relative;
    color: rgb(37, 11, 0);
    background: rgba(255, 255, 255, 0.514);
    font-weight: 600;
    border-color:rgba(68, 25, 8, 0.445);
    box-shadow: 5px 4px 5px 0px rgb(12, 3, 3);
    font-size: 1.4rem;
    margin-right: 0;
    margin-top: 2rem;
    margin-bottom: 0;
    text-transform: capitalize;
    padding-left: 2.3rem;
    padding-right: 2.3rem;

}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color:rgba(0, 0, 0, 0.397);
    border-color:rgba(0, 0, 0, 0.562);
    color: white;
  }
  
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(48, 23, 0, 0.664);
    
  }

  .modal{
    background-color: rgba(26, 18, 14, 0.63);
    
  }
  .modal-content{
    background-color: #ffffff;
    color: black;
    border-radius: 15px;
    
  }
  .modal-header, .modal-footer, p{
    border: none;
    font-weight: 500;

  }

  .modal-header .btn-close:focus{
    outline: none;
    box-shadow: none;
  }

  .fa-circle {
    color: #019e4d;
  }

  .btn-close:focus {
    outline: none;
    border: none;
  }
  
  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(22, 22, 22, 0.815);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(82, 50, 35, 0.952);
    
  }
  ::-webkit-scrollbar-thumb:active {
    background: rgba(146, 86, 48, 0.884);
    
  }